$color: teal;
$bg-img: url('../images/image.png');

div {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 30px;
  background: $bg-img no-repeat;
  color: white;
  text-align: center;
}
